<div class="container-fluid">
    <div class="card-body">
        <h5 style="background-color: #bbdefb;">Registered Email Identities</h5>
        <table class="table table-light mt-1">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Registered Email Identity</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let identity of identities; let i =index">

                    <td>{{i + 1}}</td>
                    <td>{{identity}}</td>

                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirmationModal" (click)="assign(identity)">Deregister</button>

                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
            </div>
            <div class="modal-body">
                Are you sure to deregister <b>"{{identity}}"</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()"
                    data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteIdentity()">Dereigister</button>
            </div>
        </div>
    </div>
</div>